{% extends "main.html" %}
{% load static %}


{% block extra_header %}
{% endblock %}

{%block content %}
<section id="about" class="about section">
    <div class="container">
        <h2 class="title text-center">What is Erithacus pardus?</h2>
        <p class="intro text-center">
            It is a project for the class of Artificial Intelligence, the main purpose is to analyze the affect, mood or emotion
            in a tweet. The project is currently being developed in order to have more data and more ways to provide more
            information via a single tweet.
        </p>
        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-coffee"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Why?</h3>
                    <p> Because we love Artificial intelligence.
                        One of the goals is to apply the knowledge into a project that can help or be helpful
                        in any area. Therefore, this project does not have a commercial purpose.
                    </p>
                </div><!--//content-->

            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Time</h3>
                    <p>The time period of development is not only for the course.
                        The main idea is to keep developing this project.
                        We are looking for more ideas and more interesting things.
                    </p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-crosshairs"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Main point</h3>
                    <p>It is focus on determine the affect and also to provide more information about
                    the person who is witting the tweet. The main point in this project is to detect
                    if a person has suicide tendencies, terrorism or any other destructive behavior. </p>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//about-->

{% endblock %}