{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">

    </section><!--//contact-->
<!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
     
    <!-- Javascript -->          
    <script type="text/javascript" src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/prism/prism.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>